.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: rgb(var(--cl-header));
    border-radius: 50%;
}