.footer {
    --cl-header: var(--cl-p-invert);
    background-color: rgb(var(--background-invert));
    color: rgb(var(--cl-p-invert));
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1280px) {
    .footer {
    }
}