.header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.logo {
    color: rgb(var(--background-invert))
}

@media (min-width: 1280px) {
    .header {
        /* padding-top: 24px;
        padding-bottom: 24px; */
    }
}