

.welcome {
 display: grid;
 grid-template-columns: 1fr;
 gap: 32px;
}

.hgroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1.5em;
  column-gap: 12px;
}

.header {
  margin-bottom: 40px;
}

.img {
  max-width: 630px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 20px;
  height: 20px;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.btn {
  justify-self: flex-start;
}

.stacks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.stack {
  position: relative;
  padding: 24px;
  border: 2px solid rgb(var(--background-invert));
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.stackIcon {
  width: 56px;
  height: 56px;
  color: rgb(var(--background-invert));
  margin-bottom: 32px;
}

.stackTitle {
  margin-top: auto;
}

.stackDesc {
  position: absolute;
  bottom: 0;
  font-size: var(--p3);
}
.experience {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}


.experienceItem {
  padding: 24px 30px;
  border: 1px solid rgb(var(--border-neutral));
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.experienceItem:nth-child(2n) {
  background-color: rgb(var(--background-middle));
  /* border-color: transparent; */
}

.recommendations {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px 30px;
}

.recommendation {
  --bg: var(--background-invert);
  text-align: center;
  filter: drop-shadow(0px 6px 8px rgba(var(--background-invert), 12%));
  /* , drop-shadow(0px 8px 16px rgba(var(--background-invert), 8%)); */
  border: 1px solid rgb(var(--border-neutral));
  border-radius: 20px;
  background: rgb(var(--background));
  cursor: pointer;
}

.recommendation:nth-child(2n) {
  --cl-header: var(--background);
  --bg: var(--background);
  background: rgb(var(--background-middle));
  color: rgb(var(--cl-p-invert));
}

.recommendationContent{
  display: inline-block;
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.recommendationIcon {
  width: 100%;
  margin: auto;
  height: 56px;
}
.recommendationDesc {
  flex-grow: 1;
}

.recommendationDesc::after {
  content: "";
  display: block;
  position: relative;
  width: 120px;
  height: 2px;
  background-color: rgb(var(--bg));
  margin: 24px auto 0;
}

.recommendationQuote {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid rgb(var(--border-neutral));
  margin: auto;
  position: relative;
  overflow: hidden;
  padding: 17px;
}


@media (min-width: 768px) {
  .welcome {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    align-items: flex-start;
  }
  
  .img {
    display: inline-block;
    margin-right: initial;
    grid-row: 1 / -1;
    grid-column: 2 / -1;
  }

  .stacks {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .experienceItem {
    grid-template-columns: 1fr max-content;
  }

  .experienceDesc {
    grid-column: 1 / -1;
    max-width: 700px;
  }

  .recommendations {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .stacks {
    grid-template-columns: repeat(6, 1fr);
  }

  .img {
    max-height: initial;
  }
  .btns {
    gap: 30px;
  }
}