.button {
    --btn-bg: var(--background-invert);
    --btn-bg-invert: var(--background);
    padding: 14px 16px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background-color: rgb(var(--btn-bg));
    color: rgb(var(--btn-bg-invert));
    border: 2px solid transparent;
    border-radius: 4px;
    line-height: var(--p2-lh);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(var(--background-neutral));
}

.button:active {
    background-color: rgb(var(--btn-bg-invert));
    border-color: rgb(var(--background-neutral));
    color: rgb(var(--background-neutral));
}

.button.--light {
    --btn-bg: var(--background);
    --btn-bg-invert: var(--background-invert);
    border-color: rgb(var(--background-neutral));
}

.button.--light:hover {
    color: rgb(var(--btn-bg));
}
.button.--light:active {
    border-color:transparent;
}

.button.--link {
    --btn-bg: var(--background);
    --btn-bg-invert: var(--background-invert);
    border-color:transparent;
    
    padding: 8px 10px;
}

.button.--link:hover {
    color: rgb(var(--btn-bg));
}
.button.--link:active {
    border-color:transparent;
}