.btnClose {
    position: absolute;
    right: 0px;
    top:  0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

.dialog {
    margin: auto;
    padding: 30px;
    border: 1px solid rgb(var(--border-neutral));
    border-radius: 10px;
    height: fit-content;
    max-height: 90vh;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    overflow: hidden;
    overflow: auto;
    scrollbar-color: rgb(var(--background-neutral)) transparent;
    scrollbar-width: thin;
    /* overscroll-behavior: contain; */
}

.dialog::backdrop {
    background: rgba(var(--background-invert), 50%);
}

.dialogContent {
    max-width: 100%;
    max-height: 100%;
}
